.UpperPart {
    float:left;
    background-color: #323b43;
    background-image: url(targuino.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    font-size: 200%;
    position: relative;
    text-align: left;
    color: white;
    height: 100px;
    width: inherit;
    margin-top: -40px;
    margin-left: -10px;
    padding-left: 12%;
    display: block;
}

.LowerPart{
    float:left;
    background-color: #59626a;
    padding-left: 7.5%;
    background-size: contain;
    font-size: 100%;
    margin-left: -1%;
    width: inherit;
    color: white;
}

html {
    width: 750px;
    min-width: 750px;
    max-width: 750px;
    min-height: 1350px;
    max-height: 1350px;
    font-size: 16px;
    font-family: Arial;
}

body { 
   
}

p { 
    color: white;
}

#velocity_div{
    display: block;
    border-radius: 5px;
	border: 2px;
	height: auto;
	width: 100%;
	margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
	text-align: center;
    vertical-align: middle;
}
#stop_button{
     width: 150px;
}

textarea {
    resize: none;
    min-width: 300px;
    min-height: 100px;
}


.tooltip {
	display: block;
	position: absolute;
	border: 1px solid #D9D9D9;
	font: 400 12px/12px Arial;
	border-radius: 3px;
	background: #fff;
	top: -43px;
	padding: 5px;
	left: -9px;
	text-align: center;
	width: 50px;
}
.tooltip strong {
	display: block;
	padding: 2px;
}

table {
    font-size: 100%;
    border-spacing: 1em; 
    
}
