html {
    width: 640px;
    min-width: 640px;
    max-width: 640px;
    min-height: 1350px;
    max-height: 1350px;
    font-size: 16px;
    font-family: Times, serif;
}

.UpperPart {
    float: none;
    background-color: #313131;
    background-image: url(targuino.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    font-size: 200%;
    font-family: Andale Mono, monospace;
    position: relative;
    color: white;
    height: 100px;
    width: inherit;
    margin-top: -9px;
    margin-left: -10px;
    padding-left: 20%;
    display: table;
}

span{
    display: table-cell;
    vertical-align: middle;
}

.LowerPart{
    float:left;
    background-color: #59626a;
    padding-left: 7.5%;
    background-size: contain;
    font-size: 100%;
    margin-left: -1%;
    width: inherit;
    color: white;
}



body { 
  width:inherit; 
}

p { 
    color: white;
}

#stop_button{
     width: 150px;
}

textarea {
    resize: none;
    min-width: 300px;
    min-height: 100px;
}


.tooltip {
	display: block;
	position: absolute;
	border: 1px solid #D9D9D9;
	font: 400 12px/12px Arial;
	border-radius: 3px;
	background: #fff;
	top: -43px;
	padding: 5px;
	left: -9px;
	text-align: center;
	width: 50px;
    color: black;
}
.tooltip strong {
	display: block;
	padding: 2px;
}

table {
    font-size: 100%;
    border-spacing: 1em; 
}

.spinner {
    display:inline-block; 
    position:relative; 
    border:1px solid #dcdcdc; 
    border-radius:4px; 
    overflow:hidden;
}
.spinner-input {
    width:50px; 
    margin-right:17px; 
    border: none; 
    padding:0 3px; 
    height:30px; 
    line-height:30px; 
    border-right:1px solid #dcdcdc;
    font-size: 19px;
     
}
.spinner-button {
    text-decoration:none; 
    position:absolute; 
    right:0; 
    background: #efefef; 
    height:15px; 
    line-height:px; 
    width:17px;
}
.spinner-up {
    top:0;
    line-height: 14px;
}
.spinner-down {
    bottom:0; 
    border-top:1px solid #dcdcdc;
    line-height: 19px
}

#statusTable {
    float: left;
    
}
