h1 {
    color: red;
}

body {
    background-color: #323b43;
}

p {
    color: orange;
}

.tooltip {
	display: block;
	position: absolute;
	border: 1px solid #D9D9D9;
	font: 400 12px/12px Arial;
	border-radius: 3px;
	background: #fff;
	top: -43px;
	padding: 5px;
	left: -9px;
	text-align: center;
	width: 50px;
}
.tooltip strong {
	display: block;
	padding: 2px;
}

input:invalid {
  outline: 2px solid red;
}

.spinner {
    display:inline-block; 
    position:relative; 
    border:1px solid #dcdcdc; 
    border-radius:4px; 
    overflow:hidden;}
.spinner-input {
    width:50px; 
    margin-right:17px; 
    border: none; 
    padding:0 3px; 
    height:30px; 
    line-height:30px; 
    border-right:1px solid #dcdcdc;
    font-size: 19px;
}
.spinner-button {
    text-decoration:none; 
    position:absolute; 
    right:0; 
    background: #efefef; 
    height:15px; 
    line-height:px; 
    width:17px;
}
.spinner-up {
    top:0;
    line-height: 14px;
}
.spinner-down {
    bottom:0; 
    border-top:1px solid #dcdcdc;
    line-height: 19px
}